// background
.container {
  background: linear-gradient(
      to right,
      rgba($color-black, 0.6),
      rgba($color-black, 0.3),
      rgba($color-black, 0.8),
      transparent
    ),
    url(../images/cinema.jpg) center;
  background-size: cover;
  height: 100vh;
  @include u-flex;
}

// header
h1 {
  font-size: 3.8rem;
  text-align: center;
  position: fixed;
  top: 1.5rem;
  border-top: 5px solid $color-white;
  border-bottom: 5px solid $color-white;
  border-radius: 45px;
}

// movie selection
ul {
  position: fixed;
  top: 1.5rem;
  left: 0.5rem;
}

li {
  margin-left: 2rem;
  padding: 1rem 2.5rem;
  width: 25vw;
  font-size: 2rem;
  letter-spacing: 2px;
  list-style: none;
  cursor: pointer;
  background-color: blue;
  box-shadow: 0.5rem 1rem 1rem $color-black;
}

// movie description
#movieHeader {
  width: 22rem;
  text-align: center;
  font-family: cursive;
}

#movieImg {
  margin: 1rem 0;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0.5rem 1rem 1rem $color-black;
}

#movieInfo {
  width: 22rem;
  padding: 1rem;
  text-align: center;
  border-radius: 2px;
  font-family: cursive;
  background-color: rgba($color-black, 0.6);
}

// hover & active effect
.active {
  background-color: darkblue;
}
.hover {
  background-color: red;
}
